.wrapper {
background-color: darkgrey;
position: relative;
width: 50%;
height: 20rem;

}
div .flying-box{
margin: 0;

position:absolute;

top: 40%;
left: 40%;
/*transform:translate(-50%, -50%);*/
padding: 15px;
background-color:yellow;


}